.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 132px;
  margin-top: 50px;
  .pageContainer {
    width: 100%;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
