@import "@/styles/_breakpoints.scss";

.card {
  height: 300px;
  cursor: pointer;
  display: flex;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 21px;
  flex: 1 0 0;
  border: 1px solid var(--neutral-neutral-50, #edeef0);
  background: var(--Pure-White-FFFFFF, #fff);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  @include mobile-only {
    height: 100%;
  }

  .cardHeader {
    display: flex;
    width: 185px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 7px;
    .cardIcon {
      width: 64px;
      height: 64px;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      background-color: var(--csk-141414200, #ccc);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
    }
    .cardContent {
      .cardTitle {
        color: var(--neutral-neutral-900, #1e242c);
        text-align: center;

        /* body-l-B */
        font-family: Manrope;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 30px */
      }
      .cardDescription {
        color: var(--neutral-neutral-500, #475569);
        text-align: center;

        /* body-too-small-R */
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 18px */
      }
    }
  }
  .cardFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    .cardTags {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 4px;
      align-self: stretch;
      flex-wrap: wrap;
      .tag {
        display: flex;
        padding: 4px 12px;
        justify-content: center;
        align-items: center;
        gap: 6px;
        border: 1px solid var(--neutral-neutral-50, #edeef0);
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        // text
        color: var(--neutral-neutral-700, #323c4b);
        transition: all 0.3s ease;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        /* Body-too-small-M */
        font-family: Manrope;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 18px */
      }
    }
  }
  &:hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    border: 1px solid var(--csk-141414800, #333);
    background: var(--csk-141414200, #ccc);
    box-shadow: 10px 25px 100px 0 rgba(33, 34, 35, 0.25);
    .cardIcon {
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      background-color: var(--csk-141414100, #e6e6e6);
    }
    .cardFooter {
      .cardTags {
        .tag {
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          border: 1px solid var(--neutral-neutral-50, #141414);
        }
      }
    }
  }
}
