@import "@/styles/_breakpoints.scss";

.container {
  padding: 88px 100px;
  width: 100%;
  height: fit-content;
  min-height: 569px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;

  @media screen and (max-width: 1300px) {
    min-height: 450px;
    padding: 88px 80px;
    grid-template-columns: 1fr;
  }

  @include mobile-only {
    min-height: 350px;
    grid-template-columns: 1fr;
    padding: 32px 20px;
  }

  &.rtl {
    direction: rtl;
  }

  .big {
    height: 100%;
    min-height: 569px;
    padding: 60px 50px;
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 20px;
    border-radius: 50px;
    background: #141414;

    @media screen and (max-width: 1300px) {
      height: fit-content;
      min-height: 450px;
    }

    @include mobile-only {
      min-height: 350px;
      height: fit-content;
      padding: 32px 20px;
    }

    .content {
      display: grid;
      grid-template-rows: auto 1fr;
      gap: 20px;
      width: 100%;
      color: #fff;

      @include mobile-only {
        height: 250px;
      }

      .header {
        h3 {
          color: #fff;
          font-family: Manrope;
          font-size: 40px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          text-align: start;
          text-transform: capitalize;

          @include mobile-only {
            font-size: 24px;
          }
        }
      }

      .body {
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: flex-start;
        gap: 20px;

        .arrow {
          display: grid;
          place-items: center;
          width: 74px;
          height: 74px;
          background: var(--Grey, #dedee0);
          border-radius: 50%;

          @include mobile-only {
            width: 50px;
            height: 50px;
          }

          svg {
            fill: #141414;
            width: 24px;
            height: 24px;
            transform: rotateZ(-225deg);

            .rtl & {
              transform: rotateZ(-45deg);
            }

            @include mobile-only {
              width: 16px;
              height: 16px;
            }
          }
        }

        .text {
          p {
            color: #fff;
            font-family: Manrope;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            text-align: start;
          }
        }
      }
    }

    .cta {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      gap: 20px;
      width: 100%;

      .imgs {
        display: flex;
        // margin-inline-start: -38px;

        @include mobile-only {
          margin-inline-start: 0px;
        }

        img {
          width: 74px;
          height: 74px;
          border-radius: 50%;

          &:not(:first-child) {
            margin-inline-start: -38px;
          }

          @include mobile-only {
            width: 65px;
            height: 65px;
          }
        }
      }

      .link {
        cursor: pointer;
        display: grid;
        grid-template-columns: 1fr auto;
        width: 215px;
        min-width: fit-content;
        height: 74px;
        padding: 0 25px;
        align-items: center;
        gap: 20px;
        border-radius: 100px;
        border: 1px solid #fff;

        @include mobile-only {
          width: fit-content;
          height: fit-content;
          padding: 12px;
        }

        svg {
          fill: #fff;
          width: 24px;
          height: 24px;
          transform: rotateZ(-225deg);

          .rtl & {
            transform: rotateZ(-45deg);
          }

          @include mobile-only {
            width: 16px;
            height: 16px;
          }
        }

        a {
          text-wrap: nowrap;
          color: #fff;
          font-family: Syne;
          font-size: 25px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          @include mobile-only {
            font-size: 16px;
          }
        }
      }
    }
  }

  .smallContainer {
    display: grid;
    grid-template-rows: auto auto;
    gap: 20px;
    height: 100%;

    %smallCard {
      display: grid;
      grid-template-rows: auto 1fr;
      width: 100%;
      padding: 58px 50px;
      gap: 28px;
      border-radius: 50px;

      @include mobile-only {
        padding: 32px 20px;
      }
    }

    %h {
      font-family: Manrope;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-align: start;

      @include mobile-only {
        font-size: 24px;
      }
    }

    %p {
      font-family: Manrope;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      text-align: start;

      @include mobile-only {
        font-size: 16px;
        line-height: 24px;
      }
    }

    .smallB {
      @extend %smallCard;
      background: #141414;
      height: fit-content;
      min-height: 291px;

      h6 {
        @extend %h;
        color: #fff;
      }

      p {
        @extend %p;
        color: #fff;
      }
    }

    .smallW {
      @extend %smallCard;
      height: fit-content;
      min-height: 258px;
      background: var(--Grey, #dedee0);

      h6 {
        @extend %h;
        color: #141414;
      }

      p {
        @extend %p;
        color: #141414;
      }
    }
  }
}
